<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.missionhub"
    android:versionCode="6"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.touchscreen" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".Application" >
        <activity
            android:name=".MissionHubActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MHActionBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.MHActionBar" >
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MHActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".ContactsFilterActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:name=".SurveysActivity"
            android:theme="@style/Theme.MHActionBar" >
        </activity>
        <activity
            android:name=".ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MHActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ContactActivity2"
            android:theme="@style/Theme.MHActionBar" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Theme.MHActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".EggActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MHActionBar" >
        </activity>
    </application>

</manifest>