# the production mode. values development|test|production
ENVIRONMENT=development

# facebook token of the user to login as, requires development environment
LOGIN_AS=

# missionhub api
API_URL=https://www.missionhub.com/apis
API_VERSION=v3

# missionhub surveys
SURVEY_URL=http://mhub.cc/surveys

# caching
CACHE_FILE_ENABLED=true
CACHE_FILE_AGE=3d
CACHE_HTTP_ENABLED=true
CACHE_HTTP_SIZE=10m

# google analytics
ANALYTICS_ENABLED=false
ANALYTICS_KEY=UA-
ANALYTICS_DEBUG=true
ANAYLTICS_ANONYMIZE_IP=false

# android crash reporter (errbit)
ACRA_ENABLED=true
ACRA_FORM_URI=errbit-host
ACRA_FORM_KEY=errbit-api-key

# facebook app id
FACEBOOK_APP_ID=