<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="113"
          android:versionName="2.6-SNAPSHOT" package="com.missionhub.tests">
<!-- Note: This file will be auto-formatted by the build (specifically android:manifest-update goal) -->

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>

    <application android:debuggable="true">
        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:label="MissionHub - Integration Tests"
                     android:name="test.InstrumentationTestRunner"
                     android:targetPackage="com.missionhub"/>

</manifest>