# the production mode. values development|test|production
ENVIRONMENT=development

# the market the application is deployed to. values: play|amazon|nook
MARKET=play

# missionhub api
API_URL=https://www.missionhub.com/apis
API_VERSION=v3

# missionhub surveys
SURVEY_URL=http://mhub.cc/surveys

# missionhub oauth
OAUTH_URL=https://www.missionhub.com/oauth
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_SCOPE=userinfo,contacts,contact_assignment,followup_comments,roles,organization_info,groups,communication

# caching
CACHE_FILE_ENABLED=true
CACHE_FILE_SIZE=10m

# google analytics
ANALYTICS_ENABLED=false
ANALYTICS_KEY=UA-325725-21
ANALYTICS_DEBUG=true
ANALYTICS_DRY_RUN=true
ANAYLTICS_ANONYMIZE_IP=false

# errbit notifier
ERRBIT_ENABLED=false
ERRBIT_API_URL=
ERRBIT_API_KEY=